@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Playfair Display";
    text-align: center;
}

header {
    padding-top: 5%;
    padding-bottom: 5%;
}
.post {
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.post h1 a {
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    text-transform: none;
    color: black;
}
.post h2 {
    padding-bottom: 15%;
}
.post h2 a {
    font-size: x-small;
    opacity: 0.6;
    text-decoration: none;
    color: black;
}
.post h3 {
    justify-content: start;
}

img {
    top: 5%;
    bottom: 5%;
}

footer {
    padding-top: 5%;
    padding-bottom: 5%;
}

button {
    box-shadow: 5px 5px 5px black;
}







@media screen and (max-width: 480px) {
    
    .post {
        width: 95%;
        top: 10%;
        bottom: 35%;
    }
    .post h1 {
        padding-top: 10%;
    }
    .post h1 a {
        font-size: 25px;
    }
    .post h2 {
        padding-bottom: 10%;
    }
    .post h3 {
        font-size: smaller;
    }
    footer {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}    

